:root {
  font-size: 10px;
  --color-white: 0 0% 100%;
  --color-black: 0 0% 0%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Base Styles

body {
  font-family: "Josefin Sans", sans-serif;
}

.main,
.hero {
  margin: 0 auto;
  max-width: 88%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .main,
  .hero {
    margin: 0 auto;
    max-width: 77%;
  }
}

// Call to Action

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/mobile/image-hero.jpg");
}

@media screen and (min-width: 600px) {
  .main-header {
    min-height: 65rem;
    background-size: cover;
    background-image: url("../images/desktop/image-hero.jpg");
  }
}

// Navigator

// .inner-nav,
// .nav-items,
// .nav-items-container {
//   display: flex;
// }

// .navigator {
//   position: relative;
//   padding-top: 4rem;
//   z-index: 5;

//   &.active {
//     width: 100%;
//     position: fixed;
//   }

//   .inner-nav {
//     position: sticky;
//     z-index: 3;
//     max-width: 88%;
//     margin: 0 auto;
//     justify-content: space-between;

//     .navBtn {
//       padding: 0;
//     }
//   }

//   .nav-items-container {
//     position: absolute;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     height: 0;
//     width: 0;
//     transform: translateX(100%);
//     opacity: 0;
//     background-color: hsl(var(--color-black));

//     &.navDesktop {
//       display: none;
//     }

//     &.active {
//       height: 100vh;
//       width: 100vw;
//       opacity: 1;
//       transform: translateX(0);
//       transition: 0.3s ease opacity, 0.3s ease transform;
//     }

//     .nav-items {
//       list-style: none;
//       flex-direction: column;
//       justify-content: center;
//       font-size: 2.4rem;
//       gap: 2.4rem;

//       .navItems-btn {
//         text-transform: uppercase;
//         color: hsl(var(--color-white));
//       }
//     }
//   }
// }
// @media screen and (min-width: 768px) {
//   .navigator {
//     display: flex;
//     justify-content: space-between;
//     .inner-nav {
//       display: flex;
//       justify-content: space-between;
//       margin: 0;
//       .navBtn {
//         display: none;
//       }
//       .nav-items-container {
//         &.navDesktop {
//           display: flex;
//           .nav-items {
//             display: flex;
//             flex-direction: row;
//           }
//         }
//       }
//     }
//     .nav-items-container {
//       position: static;
//       z-index: 2;
//       opacity: 1;
//       height: auto;
//     }
//   }
// }

// .navigator {
//   z-index: 2;
//   width: 100%;
//   position: relative;
//   display: flex;
//   justify-self: flex-start;
//   margin: 4rem 2.4rem 0;

//   .inner-nav {
//     z-index: 3;
//     position: sticky;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .navBtn {
//   cursor: pointer;
//   background-color: transparent;
//   border: none;
//   padding: 0;

//   img {
//     width: 100%;
//   }
// }

// // Navigator Links

// .nav-items-container {
//   z-index: 2;
//   position: fixed;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   transform: translateX(100%);
//   height: 100vh;
//   width: 100vw;
//   background-color: black;
//   transition: 0.3s ease transform, opacity 0.3s ease;

//   .nav-items {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     gap: 2.4rem;
//     list-style: none;

//     .navItems-btn {
//       cursor: pointer;
//       background-color: transparent;
//       color: hsl(var(--color-white));
//       border: none;
//       text-transform: uppercase;
//       font-size: 2.4rem;
//     }
//   }
// }

// .nav-items-container.active {
//   opacity: 1;
//   transform: translateX(0);
// }

// @media screen and (min-width: 600px) {
//   .navigator {
//     margin: 4rem auto 0;
//     max-width: 77%;
//     .inner-nav {
//       margin: 0 auto;
//     }
//   }
// }

// @media screen and (min-width: 800px) {
//   .navigator {
//     justify-content: space-between;
//   }

//   .nav-items-container {
//     z-index: 2;
//     position: static;
//     opacity: 1;
//     background-color: transparent;
//     transition: 0.3s ease transform, opacity 0.3s ease;
//     height: 4rem;
//     width: 100%;

//     .nav-items {
//       height: 100%;
//       flex-direction: row;
//       justify-content: center;
//       gap: 3.2rem;

//       .navItems-btn {
//         cursor: pointer;
//         text-transform: capitalize;
//         font-size: 2.4rem;
//       }
//     }
//   }
// }

// hero

.hero {
  transform: translateY(100%);
  h1 {
    line-height: 1;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 2.6rem 2.4rem;
    border: 2px solid hsl(var(--color-white));
    color: hsl(var(--color-white));
    font-weight: 300;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 65rem;
    h1 {
      font-size: 7.2rem;
      line-height: 1;
    }
  }
}

// Secondary Header

.secondary-header {
  text-align: center;
  position: relative;
  margin: 9.6rem 0;
  .secondary-header-img-container {
    margin-bottom: 4.8rem;
  }

  .secondary-header-info {
    background-color: hsl(var(--color-white));
    h2 {
      line-height: 1;
      font-size: 3.2rem;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 1.6rem;
    }
    p {
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .mobileImg {
    display: block;
  }

  .desktopImg {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .secondary-header {
    text-align: left;

    .secondary-header-info {
      max-width: 54rem;
      padding-top: 9.6rem;
      padding-left: 9.6rem;
      position: absolute;
      bottom: 0;
      right: 0;

      h2 {
        margin-bottom: 2.5rem;
      }
    }
  }

  .mobileImg {
    display: none;
  }

  .desktopImg {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 73.1rem;
  }
}

// Creations
.creations {
  margin: 9.6rem 0;

  .seeAll-btn {
    cursor: pointer;
    align-self: center;
    order: 2;
    font-size: 1.4rem;
    padding: 1.3rem 4rem;
    margin-top: 3.4rem;
    background-color: transparent;
    text-transform: uppercase;
    border: 0.1rem solid hsl(var(--color-black));
    font-family: "Alata", sans-serif;
    letter-spacing: 0.5rem;

    &:hover {
      color: hsl(var(--color-white));
      background-color: hsl(var(--color-black));
    }
  }

  .creations-header-container {
    display: flex;
    justify-content: center;
    h2 {
      font-size: 3.2rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 4.8rem;
    }
    .seeAll-btn.btn1 {
      display: none;
    }
  }

  .creations-content-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;

    .creation-box {
      position: relative;
      cursor: pointer;
      min-height: 12rem;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          hsl(var(--color-white) / 0.1),
          hsl(var(--color-black) / 0.7)
        );
      }

      .creation-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s ease opacity;
      }

      h3 {
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 2.4rem;
        text-transform: uppercase;
        padding: 2rem;
        color: hsl(var(--color-white));
        font-weight: 300;
        line-height: 1;
        max-width: 20rem;
      }
    }

    .creation-box:hover {
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          hsl(var(--color-white) / 0),
          hsl(var(--color-black) / 0)
        );
      }

      .creation-img {
        opacity: 0.5;
      }
      h3 {
        font-weight: 600;
        color: hsl(var(--color-black));
      }
    }
  }

  @media screen and (min-width: 768px) {
    .creations-header-container {
      justify-content: space-between;

      h2 {
        font-size: 4.8rem;
        margin-bottom: 0;
      }

      .seeAll-btn.btn1 {
        display: block;
        margin-top: 0;
      }
    }

    .creations-content-container {
      order: 2;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;

      .creation-box {
        height: auto;
        height: 45rem;
        max-width: 25rem;
      }

      .seeAll-btn.btn2 {
        display: none;
      }
    }
  }
}

// Footer Section

.inner-footer,
.footer-links,
.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  text-align: center;
  background-color: hsl(var(--color-black));

  .inner-footer {
    padding: 5.6rem 5.1rem;
  }

  .footer-links,
  .social-links {
    padding: 0;
    list-style: none;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: hsl(var(--color-white));
    padding: 0;
    img {
      height: 2.4rem;
      width: 100%;
    }

    &::after {
    }

    &:hover {
    }
  }

  .footer-logo-links {
    margin-bottom: 4.8rem;
    .logo {
      height: 2.4rem;
      margin-bottom: 3.2rem;
      img {
        margin: 0 auto;
        height: 100%;
      }
    }
    .footer-links {
      gap: 1.6rem;
      font-size: 1.5rem;
      font-family: "Alata", sans-serif;
      font-weight: 400;
      button {
        text-transform: capitalize;
      }
    }
  }

  .social-copyright {
    .social-links {
      vertical-align: middle;
      max-width: 14.4rem;
      flex-direction: row;
      margin: 0 auto;
      gap: 1.6rem;
      margin-bottom: 1.6rem;
    }
    .copyright {
      font-size: 1.5rem;
      color: hsl(var(--color-white) / 0.5);
    }
  }
}

@media screen and (min-width: 768
px) {
  .inner-footer,
  .footer-links,
  .social-links {
    flex-direction: row;
  }

  .inner-footer {
    justify-content: space-between;
    padding: 4.4rem 16.5rem;

    .footer-logo-links,
    .footer-logo-links .logo,
    .footer-logo-links .logo img,
    .social-copyright .social-links {
      margin: 0;
    }

    .footer-logo-links .logo,
    .social-copyright .social-links {
      margin-bottom: 2.4rem;
    }
    .social-copyright {
      .social-links {
        margin-left: auto;
      }
    }
  }
}
